<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>banana</key>
	<string></string>
	<key>ai</key>
	<string></string>
	<key>ring</key>
	<string></string>
	<key>hiyoko</key>
	<string></string>
	<key>present</key>
	<string></string>
	<key>color_pencil</key>
	<string></string>
</dict>
</plist>
